.MCLayout {
    background: black;
}

.MCContentLayout {
    background-color: white;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

}

.MCContents {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}