.GetInTouchHeading{

    font-size: 35px;
    font-weight: bold;
}

.GetInTouchBackground{
    background-image: url("https://ucarecdn.com/d634b51b-6bab-430b-a597-f1b16a6e58b4/");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50vh;
    text-align: center;

}