.arrow{
    background: #DFEAFE;
    border-radius: 38px;
    padding: 20px;
}

.arrow:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 12px 44px 0 rgb(0 0 0 / 10%);
    opacity: 1;
    background-color: #1652f0;
}

.arrowIcon{
    color:#1652f0;
}

.arrowIcon1{
    color:#eaecef;
}





